<div class="container mt-4">
    <app-page-header [title]="'Contratos'"></app-page-header>
    <div *ngIf="(_solicitudes.contracts$ | async) as data; else empty">
        <div class="d-flex flex-column" *ngIf="data.length; else nothing">
            
           <div class="d-flex flex-row justify-content-between gap-2">
            <div id="aside" class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button [attr.id]="item.short_name + '-btn'" (click)="setPdfSource(item.short_name, item.file)" *ngFor="let item of data" class="nav-link" data-toggle="pill" type="button" role="tab" [attr.aria-controls]="'v-pills-' + item.short_name" aria-selected="true">{{ item.nombre }}</button>
                </div> 
            </div>
            <div id="content" class="col-9">
                <!-- generate pdfViewer -->
                
                    <div class="viewer" *ngIf="pdfSrc; else isNull" >
                        <pdf-viewer 
                    [src]="pdfSrc"
                    [render-text]="true"
                    [original-size]="true"
                    style="display: block; width: auto; height: 400px; background-color: gainsboro;"
                    [page]="1"
                    [zoom]="0.8"
                    [zoom-scale]="'page-width'"></pdf-viewer>
                    <div id="firmas-box">
                        <div>
                            <span class="text-muted text-center">Firma Representante</span>
                        </div>
                        <div>
                            <span class="text-muted text-center">Firma Cliente</span>
                        </div>
                    </div>
                    </div>

                    <ng-template #isNull>
                        <div class="custom-loader" *ngIf="isLoading"></div>
                        <h2 class="text-muted text-center mt-4" *ngIf="!isLoading">Seleccione un contrato</h2>
                    </ng-template>

                </div>
           </div>    

        </div>
        <ng-template #nothing>
            <div class="alert alert-warning">
               <p class="text-center"> No hay Contratos</p>
            </div>
        </ng-template>
    </div>
    <ng-template #empty>
        cargando....
    </ng-template>
</div>
