<div class="container mt-4">
   <h1 style="color:red"><strong>Contratos Digitales</strong></h1>
   <br>
   
    <div class="row">
      <!-- Primera tarjeta: Detalle de solicitud -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title " style="color:#66b8bd"><strong>Detalle de Solicitud</strong></h5>
            <!-- Contenido de la primera tarjeta -->
            <div class="row d-flex justify-content-center align-items-center my-2">
              <div class="col-6 text-center">
                <p class="mb-0"><strong>ID de Solicitud:</strong>   123456 </p>
              </div>             
            </div>
            <hr>
            <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-6 text-center">
                  <p class="mb-0"><strong>Estatus:</strong>   Por Aceptar </p>
                </div>             
              </div> 
              <hr>
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-6 text-center">
                  <p class="mb-0"><strong>Trasacción:</strong>   Línea Nueva </p>
                </div>             
              </div>  
              <hr>   
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-6 text-center">
                  <p class="mb-0"><strong>Nombre del cliente:</strong>   Abel Ramírez Castro </p>
                </div>             
              </div>  
              <hr>    
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-6 text-center">
                  <p class="mb-0"><strong>Cédula del cliente:</strong>   402-2345678-1 </p>
                </div>             
              </div>  
              <hr>   
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 ">
                  <p class="mb-0"><strong>Descripcion del producto:</strong> </p>
                </div>             
              </div>  
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 text-center ">
                  <p class="mb-0" style="color: grey;"><strong>Tipo de plan:</strong>  Smart Indetenible </p>
                </div>             
              </div>  
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 text-center ">
                  <p class="mb-0" style="color: grey;"><strong>Tipo de facturacion:</strong>  Postpago </p>
                </div>             
              </div> 
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 text-center ">
                  <p class="mb-0" style="color: grey;"><strong>Minutos de Voz:</strong>  200 </p>
                </div>             
              </div> 
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 text-center ">
                  <p class="mb-0" style="color: grey;"><strong>Minimensajes:</strong> 1000 </p>
                </div>             
              </div> 
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 text-center ">
                  <p class="mb-0" style="color: grey;"><strong>Volumen de Internet:</strong>  5GB </p>
                </div>             
              </div> 
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 text-center ">
                  <p class="mb-0" style="color: grey;"><strong>Activar Roaming:</strong>  si </p>
                </div>             
              </div> 
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 text-center ">
                  <p class="mb-0" style="color: grey;"><strong>Navegacion Libre:</strong>  Si </p>
                </div>             
              </div> 
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 text-center ">
                  <p class="mb-0" style="color: grey;"><strong>Equipo:</strong>  Samsung Galaxy S10e +Blanco </p>
                </div>             
              </div> 
              <hr>   
              <br>
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-6 text-center">
                  <p class="mb-0"><strong>Precio:</strong></p>
                </div>             
              </div>  
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 text-center ">
                  <p class="mb-0" style="color: grey;"><strong>Renta mensual:</strong>  RD$1,946.00 </p>
                </div>             
              </div> 
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 text-center ">
                  <p class="mb-0" style="color: grey;"><strong>Tipo de facturacion:</strong>  RD$23,590.00 </p>
                </div>             
              </div> 
              <hr>       
              <div class="row d-flex justify-content-center align-items-center my-2">
                <div class="col-12 text-center ">
                  <p class="mb-0"><strong>Total (Con impuestos):</strong>  RD$25,536.00 </p>
                </div>             
              </div> 
              <hr> 
          </div>
        </div>
      </div>
  
      <!-- Segunda tarjeta: Contratos a firmar -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title " style="color:#66b8bd"><strong>Contratos a Firmar</strong></h5>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Accordion Item #2
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Accordion Item #3
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>