
.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
}
.detail-info {
    width: 100%;
    list-style: none;
    border-bottom: 1px solid gainsboro;
}