
.card-header {
    background-color: gainsboro;
}

.details {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
}
.detail-info {
    width: 100%;
    list-style: none;
    border-bottom: 1px solid gainsboro;
    .accordion-button {
        background-color: transparent !important;
        color: rgb(63, 63, 63);
        font-weight: 600;
    }
}